<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>config</title>
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/BsMultiSelect.css') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
        
        <h1>config</h1>
        <form method="POST">
            <div class="container"> 
                {% for i in range(0,allLayout.__len__()) %}
<!--                    <h3>{{ LayoutTitle[i] }}</h3>-->
                    <select name="allLayout" method="GET" action="/">
                        {% for j in range(0,allLayout[i].__len__()) %}
                            <option value="{{allLayout[i][j]}}">{{allLayout[i][j]}}</option>"
                        {% endfor %}
                    </select>
                    <hr>
                {% endfor %}
            </div>
            
            
            <input type=submit value=save>
            <br>
            <a href='./manage'>back</a>
        </form>
    </body>
</html>
