<html>
    <head>
    </head>
    <body>
        <h1>user console</h1>
        <p> hello! {{ name }}</p>
        <a href='./config'>config</a>
        <p>here are your posts</p>
        <table width="80%" border="1">
            <tr>
              <td>post_id</td>
              <td>post</td>
              <td>post_date</td>
            </tr>
            {% for i in length %}
            <tr>
              <td width="20%">{{postid[i]}}</td>
              <td width="40%"><a href='/blog/{{name}}/{{title[i]}}'>{{title[i]}}</a></td>
              <td width="40%">{{date[i]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
