<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link href="/static/index.css" rel="stylesheet" type="text/css">
        <link href="/static/manage.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <style>
.txtlink {
    color: green;
    text-decoration:none;
    margin-left:20px;
    font-size:16px;
}
.txtlink:hover {
    text-decoration:underline;
}

        </style>
        <script>
            var hiddenImg = undefined;
            var ajaxing = false;
            function inputOnChange(input) {
                if(ajaxing) return;
                if(input.getAttribute("prev") == input.value){
                    var link = document.createElement('a');
                    link.setAttribute("class", "txtlink");
                    link.setAttribute("href", input.getAttribute("href"));
                    link.setAttribute("postid", input.getAttribute("postid"));
                    link.innerHTML = input.getAttribute("prev");
                    input.parentNode.replaceChild(link, input);
                    hiddenImg.show();
                }
                else{
                    ajaxing = true;
                    $.ajax({
                        method: 'POST',
                        url: "/manage/update_title",
                        data: {
                            'postid' : input.getAttribute("postid"),//what
                            'newtitle' : input.value //what
                        },
                        dataType: "json",
                        success : function(data){
                            ajaxing = false;
                            var link = document.createElement('a');
                            link.setAttribute("class", "txtlink");
                            if(data.status == 'success'){
                                link.setAttribute("href", data["href"]);
                                link.setAttribute("postid", data["postid"]);
                                link.innerHTML = data["text"]
                                input.parentNode.replaceChild(link, input);
                            }
                            else{
                                link.setAttribute("href", input.getAttribute("href"));
                                link.setAttribute("postid", input.getAttribute("postid"));
                                link.innerHTML = input.getAttribute("prev");
                                input.parentNode.replaceChild(link, input);
                            }
                            hiddenImg.show();
                        }
                    })
                }
            }
            $(document).ready(function(){
                $('img').bind('click', function(){
                    var next = $(this).parent().next();
                    var text = next.text();
                    var href = next.attr('href')
                    var postid = next.attr('postid')
                    next.replaceWith($('<input id="cur"/>'));
                    next = $("#cur");
                    next.attr('href', href);
                    next.attr('prev', text);
                    next.attr('postid', postid);
                    next.attr('value', text);
                    next.attr('onchange', 'inputOnChange(this)');
                    next.attr('onsubmit', 'inputOnChange(this)');
                    next.attr('onblur', 'inputOnChange(this)');
                    next.focus();
                    next.select();
                    hiddenImg = $(this);
                    $(this).hide();
                })
            })
        </script>
    </head>
    <body>
        <div class="navbar">
            <a href="/"><i class="fab fa-blogger"></i></a>
            <a style="float:left" href="/blog/{{name}}">{{ blog }}</a>
            <a style="float:right" href="/logout">Logout</a>
            <a style="float:right" href="/config">Config</a>
            <a style="float:right" href="/editor">NewPost</a>
        </div>
        <br><br><br><br><br><br>

        <h1></h1>

        <form action="./manage/delete_post" method="post">

            <table width="80%" border="1">
                <tr>
                    <th>post</th>
                    <th>post_date</th>
                    <th>edit</th>
                    <th><input type=submit value=Delete></th>
                </tr>
                {% for i in length %}
                <tr style="text-align: center;">
                    <td width="30%">
                        <a href="#re" style="text-decoration:none;">
                            <img class="re" width="32" height="32" style="vertical-align: middle" src="/static/re.png">
                        </a>
                        <a class="txtlink" href='/blog/{{name}}/{{title[i]}}' postid="{{postid[i]}}">{{title[i]}}</a>
                    </td>
                    <td width="30%">{{date[i]}}</td>
                    <td width="20%"><a href="/editor?postid={{postid[i]}}"><img src="https://pandao.github.io/editor.md/favicon.ico"/></a></td>
                    <td width="20">
                        <input type="checkbox" name="postid" value={{postid[i]}}>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </body>
</html>
